/*
================================
Basic Setup
================================
*/

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.bg {
  background-image: url(../img/bg1.png);
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

/*
================================
Global Elements
================================
*/

a {
  color: white;
  text-decoration: none;
}

h1 {
  color: rgb(240, 240, 240);
  font-size: 32px;
  font-weight: 400;
  margin-left: 1rem;
  text-shadow: rgba(0, 0, 0, .8) 1px 0px 0px, rgba(0, 0, 0, .8) 0.540302px 0.841471px 0px, rgba(0, 0, 0, .8) -0.416147px 0.909297px 0px, rgba(0, 0, 0, .8) -0.989992px 0.14112px 0px, rgba(0, 0, 0, .8) -0.653644px -0.756802px 0px, rgba(0, 0, 0, .8) 0.283662px -0.958924px 0px, rgba(0, 0, 0, .8) 0.96017px -0.279415px 0px;
}

h2 {}

h3 {
  color: rgb(240, 240, 240);
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 1rem 0;
  text-shadow: rgba(0, 0, 0, .8) 1px 0px 0px, rgba(0, 0, 0, .8) 0.540302px 0.841471px 0px, rgba(0, 0, 0, .8) -0.416147px 0.909297px 0px, rgba(0, 0, 0, .8) -0.989992px 0.14112px 0px, rgba(0, 0, 0, .8) -0.653644px -0.756802px 0px, rgba(0, 0, 0, .8) 0.283662px -0.958924px 0px, rgba(0, 0, 0, .8) 0.96017px -0.279415px 0px;
}

h4 {
  color: rgb(20, 20, 20);
  font-size: 24px;
  font-weight: 400;
  margin: 0.5rem;
}

h5 {}

h6 {
  color: rgb(240, 240, 240);
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 1rem;
}

hr {
  border: 1px outset #8c8b8b;
  margin: 0;
  padding: 0;
  width: 100vw;
}

header {
  background: rgba(60, 60, 60, .8);
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

footer {
  background: rgba(30, 98, 208, .5);
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  z-index: 1030;
}

footer p:hover {
  font-size: 10px;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

/*
================================
IDs
================================
*/

#headertext {
  align-self: center;
}

#headertext h6 {
  font-size: 16px;
  margin: 0 auto;
}

#logo {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 0;
}

#logo img {
  height: auto;
  margin: 1rem;
  margin-top: 1rem;
  width: 25vw;
}

#footer {
  height: auto;
  position: sticky;
  width: 100%;
}

#footer p {
  align-self: center;
}

/*
================================
Flexbox
================================
*/

.headerbox {
  display: none;
}

.headerbox a {
  display: flex;
  flex: 1 0 20%;
  justify-content: center;
  margin: 5px;
}

.headerbox img {
  margin: 0;
  padding: 0;
}

.flexbox {
  align-items: center;
  display: flex;
  height: auto;
  margin: 0;
  padding: 0;
  width: 80%;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem;
}

.flexmain {
  background: rgba(30, 98, 208, .5);
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-basis: 40%;
  flex-flow: row wrap;
  margin: 0.5rem;
  padding: 1rem;
}

.flextext {
  align-self: center;
  display: flex;
  justify-content: center;
}

.flexmain > h2 {
  align-self: center;
  margin: 1rem;
}

.flexmain > ul {
  margin: 0 0 1rem;
}

.flexmain > p {
  margin: 0.25em 1rem 1rem;
}

.flexmain > img {
  order: -1;
  align-self: center;
}

.button-area {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 10px auto;
  max-width: 90%;
}

.button-area a {
  color: white;
  text-decoration: none;
  flex: 1 1 0;
  flex-basis: 50%;
  text-align: center;
}

/*
================================
Objects
================================
*/

.icon-barm {
  align-items: center;
  flex: 1 1 0;
  justify-content: flex-start;
  margin: 0 auto;
  z-index: 1;
}

.icon-barm a {
  border-radius: 50%;
  color: lightcyan;
  display: inline-block;
  font-size: 24px;
  margin: 0 1rem 0 1rem;
  padding: 8px;
  text-align: center;
  transition: all 0.3s ease;
}

.fa-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 0.5rem;
  color: white;
  background: #3D94F6;
  border: solid #337FED 1px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 0px #000000;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  margin: 10px;
  padding: 0.5rem;
  text-decoration: none;
  transition: .2s ease;
  width: 95%;
}

button:hover {
  background: #1E62D0;
  text-decoration: none;
}

/*
================================
SoMe Button Styling
================================
*/

.facebook {
  background: rgb(41, 62, 106);
  color: white;
}

.facebook:hover {
  background: #3B5998;
  color: white;
}

.youtube {
  background: #820000;
  color: white;
}

.youtube:hover {
  background: #bb0000;
  color: white;
}

.instagram {
  background: #8f324a;
  color: white;
}

.instagram:hover {
  background: #cd486b;
  color: white;
}

.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
================================
Media Queries
================================
*/

/* For tablets: */

@media only screen and (max-width: 1024px) {

  #logo {
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
  }

  #logo img {
    height: auto;
    margin-top: 1rem;
    width: 50vw;
  }

  /* Top icons */
  .headerbox {
    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    */
  }

  .flexbox {
    width: 80%;
  }

  .flexcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 50%;
  }

  .flexmain {
    flex: 1 1 48%;
  }

  #headertext {
    margin: 0 0.5rem 0.5rem 0.5rem;
  }

  #headertext h3 {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }

  #headertext h6 {
    font-size: 16px;
    margin: 0 auto;
  }

}

/* For tablets and big phones: */

@media only screen and (max-width: 768px) {

  .flexbox {
    width: 100%;
  }

  .flexmain {
    flex: 1 0 100%;
    flex-flow: column;
  }

  #headertext {
    align-self: flex-start;
    margin: 0 0.5rem 0.5rem 0.5rem;
  }

  #headertext h3 {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }

  #headertext h6 {
    font-size: 14px;
    margin: 0 auto;
  }

}

/* For small mobile phones: */

@media only screen and (max-width: 500px) {
  .bg {
    height: 150%;
    margin-top: -50%;
    padding: 0;
    position: fixed;
    width: 100vw;
    z-index: -1;
  }

  #logo {
    display: flex;
    justify-content: center;
  }

  #logo img {
    height: auto;
    width: 90%;
  }

  #headertext {
    align-self: flex-start;
    margin: 0 0.5rem 0.5rem 0.5rem;
  }

  #headertext h3 {
    font-size: 17px;
    margin-bottom: 0.5rem;
  }

  #headertext h6 {
    font-size: 12px;
    font-style: italic;
    margin: 0 auto;
  }

  .flexbox {
    width: 100%;
  }

  .flexmain {
    flex: 1 0 50%;
    max-width: x;
  }

  .button-area {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
  }

  .button-area a {
    color: white;
    text-decoration: none;
    flex-basis: 70%;
    text-align: center;
  }

}
