/*
================================
Basic Setup
================================
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*
================================
Global Elements
================================
*/

a {

}

h1 {
  
}

h2 {

}

h3 {

}

h4 {
  
}

h5 {

}

h6 {

}


/*
================================
Nav
================================
*/



/*
================================
Mobile Nav
================================
*/



/*
================================
Media Queries
================================
*/

/* For tablets: */
@media only screen and (max-width: 1024px) {
  
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  
}
















