/*
================================
Basic Setup
================================
*/

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.bg {
  background-image: url(../img/bg.png);
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

/*
================================
Global Elements
================================
*/

a {
  color: white;
  text-decoration: none;
}

h1 {}

h2 {
  color: rgb(240, 240, 240);
  font-size: 32px;
  font-weight: 400;
  margin-left: 1rem;
  text-shadow: rgba(0, 0, 0, .8) 1px 0px 0px, rgba(0, 0, 0, .8) 0.540302px 0.841471px 0px, rgba(0, 0, 0, .8) -0.416147px 0.909297px 0px, rgba(0, 0, 0, .8) -0.989992px 0.14112px 0px, rgba(0, 0, 0, .8) -0.653644px -0.756802px 0px, rgba(0, 0, 0, .8) 0.283662px -0.958924px 0px, rgba(0, 0, 0, .8) 0.96017px -0.279415px 0px;
}

h3 {}

h4 {
  color: rgb(20, 20, 20);
  font-size: 24px;
  font-weight: 400;
  margin: 0.5rem;
}

h5 {}

h6 {
  color: rgb(200, 20, 200);
  font-size: 18px;
  font-weight: 400;
  margin: 0.5rem;
}

hr {
  border: 1px outset #8c8b8b;
  margin: 0;
  padding: 0;
  width: 100vw;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
}

/*
================================
Text
================================
*/

#footer {
  height: auto;
  width: 100%;
}

footer a {
  color: #333;
  font-size: 11px;
}

footer a:hover {
  color: #979797;
  font-size: 11px;
}

footer {
  background: rgba(30, 98, 208, .5);
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1030;

}

/*
================================
Flexbox
================================
*/

.headerbox {
  display: none;
}

.headerbox a {
  display: flex;
  flex: 1 0 20%;
  justify-content: center;
  margin: 5px;
}

.headerbox img {
  margin: 0;
  padding: 0;
}

.flexbox {
  height: auto;
  margin: 0;
  padding: 0;
  width: 80%;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem;
}

.flexmain {
  background: rgba(30, 98, 208, .4);
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-basis: 40%;
  flex-flow: row wrap;
  margin: 0.5rem;
  padding: 1rem;
}

.flextext {
  align-self: center;
  display: flex;
  justify-content: center;
}

/* Main Flex Grid */

.flexcontainer {}

.flexmain > h2 {
  align-self: center;
  margin: 1rem;
}

.flexmain > ul {
  margin: 0 0 1rem;
}

.flexmain > p {
  margin: 0.25em 1rem 1rem;
}

.flexmain > img {
  order: -1;
  align-self: center;
}

.button-area {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 10px auto;
  max-width: 90%;
}

.button-area a {
  color: white;
  text-decoration: none;
  flex: 1 1 0;
  flex-basis: 50%;
  text-align: center;
}

/*
================================
Objects
================================
*/

#headertext {}

#logo {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem;
  margin-top: 0;
}

#logo img {
  height: auto;
  margin: 1rem;
  margin-top: 1rem;
  width: 35vw;
}

button {
  border-radius: 0.5rem;
  color: white;
  background: #3D94F6;
  border: solid #337FED 1px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 0px #000000;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  margin: 10px;
  padding: 0.5rem;
  text-decoration: none;
  transition: .2s ease;
  width: 95%;
}

button:hover {
  background: #1E62D0;
  text-decoration: none;
}

/*
================================
Media Queries
================================
*/

/* For tablets: */

@media only screen and (max-width: 1024px) {

  #logo {
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem;
    margin-top: 0;
  }

  #logo img {
    height: auto;
    margin-top: 1rem;
    width: 70%;
  }

  .headerbox {
    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    */
  }

  .flexbox {
    width: 80%;
  }

  .flexcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 50%;
  }

  .flexmain {
    flex: 1 1 48%;
  }

}

/* For mobile phones: */

@media only screen and (max-width: 768px) {

  .flexbox {
    width: 100%;
  }

  .flexmain {
    flex: 1 0 100%;
    flex-flow: column;
  }

}

/* For small mobile phones: */

@media only screen and (max-width: 500px) {

  #logo {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    margin-top: 0;
  }

  #logo img {
    height: auto;
    margin-top: 1rem;
    width: 90%;
  }

  .flexbox {
    width: 100%;
  }

  .flexcontainer {}

  .flexmain {
    flex: 1 0 50%;
    max-width: x;
  }

  .button-area {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
  }

  .button-area a {
    color: white;
    text-decoration: none;
    flex-basis: 70%;
    text-align: center;
  }

}
